## Answer 3
Data types in Python and and their methords

#### String

In [1]:
# STRING

# Strings are arrays of bytes representing unicode charecters.
# It can hold all thpes of format, namely text, syombols, integets, float, etc.
# Data in string is always enclosed in single, double or tripple inverted commas.
# It is immutable data type

In [16]:
# Example of string

a1 = 'jai Jagannath'

In [24]:
# Methords of string

In [17]:
# Capitalize:- Makes the first letter capital

b1 = a1.capitalize()
print(b1)

Jai jagannath

In [19]:
# find:- finds a particular charecter

b1.find('n')

8

In [21]:
# count:- counts a given charecter

b1.find('n')

8

In [22]:
# endswith:- checks if the string ends with a particulat charecter

b1.count('n')

2

In [23]:
# isalpha:- checks if all the charecters of string is alphabet

b1.isalpha()

False

#### List

In [25]:
a2 = ['laptop','fan','table','phone','32','56-3j']

In [42]:
# Contains elements seperated by comma inside square bracket.
# These elements can be any data type.
# Mutable data type.

In [27]:
# Methords of list

In [29]:
# append:- adds element to list

a2.append('pen')
print(a2)

['laptop', 'fan', 'table', 'phone', '32', '56-3j', 'pen']

In [30]:
# index:- gives index position of element

a2.index('fan')

1

In [31]:
# count:- counts the number of repetition od an element in the list

a2.count('pen')

1

In [39]:
# insert:- adds element on a particular position

a2.insert(5,"watch")
print(a2)

# run three times

['laptop', 'fan', 'table', 'phone', '32', 'watch', 'watch', 'watch', '56-3j', 'pen']

In [40]:
# pop:- pop elements out fromspecified position

a2.pop(5)
print(a2)

['laptop', 'fan', 'table', 'phone', '32', 'watch', 'watch', '56-3j', 'pen']

#### Set

In [41]:
a3 = {23,45,67,89,98,76,54,31,64,8,4,86,86,'abc','def','ghi'}

In [43]:
# Elements inside curly brackets.
# Repetitive elements are omitted.
# unordered collection of elements.

In [44]:
print(a3)

{64, 98, 67, 4, 8, 76, 45, 'abc', 54, 23, 86, 89, 'def', 'ghi', 31}

In [45]:
# Methords of sets

In [46]:
# add:- adds elements

a3.add('i am giving test')

In [47]:
print(a3)

{64, 98, 67, 4, 8, 76, 45, 'abc', 54, 23, 86, 89, 'def', 'i am giving test', 'ghi', 31}

In [50]:
# pop:- removes elements from set
a3.pop()

98

In [55]:
# discard:- removes specified elements from set

a3.discard('def')

In [56]:
print(a3)

{67, 4, 8, 76, 45, 'abc', 54, 23, 86, 89, 'i am giving test', 'ghi', 31}

In [59]:
# copy:- makes shallow copy of set

b3 = a3.copy()
print(b3)

{67, 4, 8, 76, 45, 'abc', 54, 23, 86, 89, 'i am giving test', 31}

In [60]:
# remove:- removes given element form set

b3.remove('abc')
print(b3)
print(a3)

{67, 4, 8, 76, 45, 54, 23, 86, 89, 'i am giving test', 31}
{67, 4, 8, 76, 45, 'abc', 54, 23, 86, 89, 'i am giving test', 31}

In [61]:
# changes in b3 are not done in a3 as they are shallow copy.

#### Tuple

In [62]:
a4 = (1,2,3,4,5,6,7,8,9,10)

In [63]:
# Ordered collection.
# Elements are in round brackets.
# It is immutable data type.

In [64]:
# Methords

In [66]:
# count():- conts the repetition.

a4.count(5)

1

#### Dictonary

In [68]:
a5 = {'a':'1,2,3',
        'b':'4,5,6',
        'c':'7,8,9'
                    }

In [69]:
# Methords

In [70]:
# copy:- makes shallow copy of dict

b5 = a5.copy()
print(b5)

{'a': '1,2,3', 'b': '4,5,6', 'c': '7,8,9'}

In [72]:
# get:- to get the values of a key

b5.get('a')

'1,2,3'

In [73]:
# pop:- removes elements in a key

b5.pop('c')
print(b5)

{'a': '1,2,3', 'b': '4,5,6'}

In [74]:
# items:- gives items in key

b5.items()

dict_items([('a', '1,2,3'), ('b', '4,5,6')])

In [75]:
print(a5)

{'a': '1,2,3', 'b': '4,5,6', 'c': '7,8,9'}

In [76]:
# As a5 and b5 are shallow copy, changes in b5 did not reflect in a5.

## Answer 4
Code to take names address and salary input and convert to data frame.

In [78]:
# Details = {'Names':[],'Address':[],'Salary':[]}

# n = int('Number of employees')

# for i in range(n):
#     name = Details.Names

#### Answer 6
Function to reurn prime numbers in a given range.

In [93]:
def prime(n1,n2):
    Numbers = []
    for i in range(n1,n2+1):
        for j in range(2,i-1):
            if i%j==0:
                break
            else:
                Numbers.append(i)
    print(set(Numbers))

In [94]:
prime(2,100)

{5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

#### Answer 7
Finding common elements in list

In [97]:
# Given list

list_1 = [12,3,13,25,467]
list_2 = [12,343,13,214,345]
list_3 = [12,13,235,43,24,36]

In [105]:
# Using for loop:-

common = []

for i in list_1:
    for j in list_2:
        for k in list_3:
            if k==j==i:
                common.append(i)

print(common)

[12, 13]

In [119]:
# Without loop:-

set_l1 = set(list_1)
set_l2 = set(list_2)
set_l3 = set(list_3)

I1 = set_l1.intersection(set_l2)

Common_elmts = set_l3.intersection(I1)

print(Common_elmts)

{12, 13}

#### Answer 9
Diff bet deep shallow copy and deep copy

In [120]:
# Deep Copy

# In deep copy, both are same.
# Changes made in one is reflected in other

In [131]:
a_6 = [1,2,3,4,5]

In [132]:
b_6 = a_6

In [133]:
c_6 = a_6.copy()

In [134]:
# With the use of '=' we make b_6 a deep copy 0f a_6. Now changed in one will also reflect in other.
# With the use of '.copy()', a shalloy copy is made, and changes in a_6 will not change c_6.

In [135]:
a_6.append(99)

print(a_6)
print(b_6)
print(c_6)

[1, 2, 3, 4, 5, 99]
[1, 2, 3, 4, 5, 99]
[1, 2, 3, 4, 5]

#### Answer 10
function to check anagram.

In [136]:
def check_anagram(word1:'str',
                 word2: 'str'):
    '''This function checks is words are anagram'''
    data_1 = {}
    data_2 = {}
    for i in word1:
        data_1[i] = word1.count(i)

    for j in word2:
        data_2[j] = word2.count(j)

    if data_1 == data_2:
        print(f'{word1} and {word2} are anagram')
    else:
        print(f'{word1} and {word2} are not anagram')

In [137]:
check_anagram('earth','heart')

earth and heart are anagram

#### Answer 14
Global, Local, Non-Local

##### Local variable

In [152]:
# For Example:-

def info():
    name = 'Ajay' # local variable
    print(f'Hello {name}')

# In this example, we cannot seperately call name.

In [153]:
# So, when we require to use that variable outside the function, we make it a global variable.

##### Global variable
Global variable is the variable which can be used anywhere outside the function.

In [154]:
# To make a global variable, we write global with the variable.

# For example, take_name has been made a global variable.

def say_hello():
    global take_name
    
    take_name = 'Kumar Verma'
    
    print(f'Hello {take_name}')


# Now we can call take_name seperately.

In [141]:
# For multiple global variables, we have two approaches

# def say_hello():
#     global take_name, age ,height
#     take_name = 'Kumar Verma'
#     age = 21
#     height = 345
#     
#     print(f'Hello {take_name}')

In [142]:
def say_hello():
    global take_name
    global age
    global height
    take_name = 'Kumar Verma'
    age = 21
    height = 345
    
    print(f'Hello {take_name}')


# This mechord of writing global again and again is preffered for clarity.

In [143]:
# Use of making a vriable global in a function is to change the value of a existing global variable.

# For example:-

country = 'India'

def about():
    global country
    country = 'Nepal'
    print(f'I Love My {country}')
    
print('First Line: ',country)

about()

print('Second Line: ',country)


# Here, a variable 'country' is defined outside the function, that makes it a global by default.
# Now when we make a global variable under 'country' a function, and give it a value, the value of variable outside the function will also be updated.

First Line:  India
I Love My Nepal
Second Line:  Nepal

##### Non-Local

In [144]:
# If we are using a variable defined in a function, in a nested function, and want the variable in nested function to become global within the funcion.
# We can make it 'nonlocal'.
# So that a variable in nested function also changes the variable in function outside nested function.

In [145]:
def one():
    country = 'India'
    
    print(f'I Love My {country} by one func')
    
    def two():
        country = 'Nepal'
        
        print(f'I Love My {country} by two func')
    
    two()
    print('First Line: ',country)

In [146]:
one()

I Love My India by one func
I Love My Nepal by two func
First Line:  India

In [147]:
# Output is

# I Love My India by one func
# I Love My Nepal by two func
# First Line:  India

# Here we can see that in third line, we get 'India'.
# because the value 'Nepal' is restricted to function two.
# But to change the value of variable in function one, from inside function two, we make the variable in function two nonlocal

In [148]:
var = 3456

def one():
    
    country = 'India'
    
    print(f'I Love My {country} by one func')
    
    def two():
        nonlocal country
        country = 'Nepal'
        
        print(f'I Love My {country} by two func')
    
    two()    
    print('First Line: ',country)

In [149]:
one()

I Love My India by one func
I Love My Nepal by two func
First Line:  Nepal

In [150]:
# Output:-

# I Love My India by one func
# I Love My Nepal by two func
# First Line:  Nepal

# Here we can see that as we made the 'country' variable a nonlocal, it changed the value of variable in function one.

# Time Over